<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Happy Happy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
</head>
<body>
<div style="text-align:center">
    <p th:text="'Join the happymeter:'"/>
    <form action="/vote">
        <input placeholder="unique name" name="name"/>
        <input type="submit"/>
    </form>
</div>
</body>
</html>